// vendors
// @import "vendors/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// @import "vendors/font-awesome.scss";
@import "vendors/themify.scss";
@import "vendors/feather-icon.scss";
@import "vendors/animate.scss";
@import "vendors/owl.carousel.scss";
@import "./vendors/font-awesome";
// @import "utils/variables.scss";
@import "utils/helpers.scss";


//base
@import "base/typography.scss";
@import "base/reset.scss";

// components
@import "components/buttons";
@import "components/tabs";
@import "components/msg";
@import "components/dropdown";
@import "components/chat-box";
@import "components/tootip";
@import "components/loader";
@import "components/switchery";
@import "components/collapse";
@import "components/call";
@import "components/call-list";
@import "components/according";
@import "components/tour";

//layout
@import "layout/grid.scss";
@import "layout/sidebar.scss";
@import "layout/content.scss";
@import "layout/dark.scss";
@import "layout/rtl.scss";
@import "layout/login";
@import "layout/forms.scss";
@import "layout/customizer.scss";

//pages
@import "pages/inner-pages";
@import "pages/landing";
@import "pages/inner-pages-responsive";
@import "pages/landing-responsive";
@import "pages/vue_plugin";

// themes
@import "themes/admin.scss";
@import "themes/theme.scss";
@import "themes/responsive.scss";

//custom
@import "custom/loader.scss";
@import "custom/landing-page.scss";
@import "custom/multiselect.scss";
@import "custom/profile.scss";
@import "custom/terms-page.scss";
@import "custom/membership.scss";
@import "custom/early-access.scss";
@import "custom/dashboard.scss";
@import "custom/feed.scss";
@import "custom/thank-you.scss";
@import "custom/user-list.scss";
@import "custom/chat.scss";
@import "custom/profile-settings.scss";
@import "custom/how-it-work.scss";
@import "custom/video-call.scss";
@import "custom/video-roulette.scss";
@import "custom/help.scss";
@import "custom/age-verification.scss";
@import "custom/meet-verification.scss";
@import "custom/profile-picture.scss";
@import "custom/media-settings.scss";
@import "custom/footer.scss";
@import "custom/filter-modal.scss";
@import "custom/new-media.scss";
@import "custom/coming-soon.scss";
@import "custom/live-on-cam.scss";
@import "custom/meet-events.scss";
@import "custom/photo-alert-modal.scss";
@import "custom/notification-tab.scss";
@import "custom/home-tab.scss";
@import "custom/site-supporter.scss";
@import "custom/friends-list.scss";
