/* Animated underline */
.title-underline {
  display: block;
  height: 4px;
  width: 20%;
  margin: 8px auto 0;
  background: linear-gradient(90deg, #800020, #E50914);
  border-radius: 2px;
  position: relative;
  animation: moveLine 8s infinite linear alternate;
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


.bg-theme-color {
  background: $gradient-bg-color;
}
.bg-darker {
  background: $black;
}
.landing-logo {
  img {
    height: 170px;
    width: auto;
  }
}