/* Animated underline */
.title-underline {
  display: block;
  height: 4px;
  width: 32%;
  margin: 8px auto 0;
  background: linear-gradient(90deg, #800020, #E50914);
  border-radius: 2px;
  position: relative;
  animation: moveLine 2s infinite linear alternate;
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


.bg-theme-color {
  background: $gradient-bg-color;
}
.bg-darker {
  background: $black;
}
.landing-logo {
  img {
    height: 170px;
    width: auto;
  }
}
.checkbox-wrapper {
  align-items: center;
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.checkbox-wrapper label {
  cursor: pointer;
  margin-bottom: 0;
}
label.form-check-label {
    line-height: 18px !important;
}
input.custom-theme-checkbox {
  cursor: pointer;
  &:checked {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}
.navbar-brand {
  img {
    height: 170px;
    width: auto;
  }
}
